$x-dark     : #2F3542;
$dark       : #57606F;
$dark-grey  : #747D8C;
$grey       : #A4B0BE;
$light-grey : #DFE4EA;
$light      : #CED6E0;
$x-light    : #F1F2F6;
$white      : #FFFFFF;
$blue       : #1E90FF;
$pale-blue  : #70A1FF;
$orange     : #FF6348;
$pale-orange: #FF7F50;

$sans-serif : "Libre Franklin";
$monospace  : "Space Mono";

$medium     : 40em;
$large      : 64em;

html,
body {
    min-width: 600px;
    background-color: $x-light;
}

html,
body,
p {
    font-family: $monospace, monospace;
    font-weight: 400;
    font-size: 14px;
    color: $x-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans-serif, sans-serif;
    font-weight: 500;
    color: $dark;
}

table {
    tr {
        th,
        td {
            font-size: 14px;
            color: $x-dark;
        }
    }
}

.row {
    width: 100%;
    max-width: 72.5rem;
    margin: 0 auto;
}

.small {
    font-size: 12px;
    a, p {
       font-size: 12px;
    }
}

.mt--0 {
    margin-top: 0;
}
.mb--0 {
    margin-bottom: 0;
}
.mt--xs {
    margin-top: 10px;
}
.mb--xs {
    margin-bottom: 10px;
}
.mt--sm {
    margin-top: 35px;
}
.mb--sm {
    margin-bottom: 35px;
}
.mt--md {
    margin-top: 35px;
    @media (min-width: $medium) {
        margin-top: 60px;
    }
}
.mb--md {
    margin-bottom: 35px;
    @media (min-width: $medium) {
        margin-bottom: 60px;
    }
}
.mt--lg {
    margin-top: 35px;
    @media (min-width: $medium) {
        margin-top: 110px;
    }
}
.mb--lg {
    margin-bottom: 35px;
    @media (min-width: $medium) {
        margin-bottom: 110px;
    }
}
.mt--x-lg {
    margin-top: 35px;
    @media (min-width: $medium) {
        margin-top: 160px;
    }
}
.mb--x-lg {
    margin-bottom: 35px;
    @media (min-width: $medium) {
        margin-bottom: 160px;
    }
}

.dash-app__body {
    padding: 20px;
}

.dash__title {
}

.summary__table {
}

.summary__slider {
}

.summary__histogram {
    overflow: hidden;
    border: 1px solid #DDDDDD;
}

.user__radio--top,
.user__radio--bottom {
    label {
        line-height: 36px;
        margin-right: 15px;
        vertical-align: middle;
    }
    input {
        margin-right: 5px;
        margin-bottom: 0;
    }
}

.user__dropdown--top,
.user__dropdown--bottom {
}

.user__table--top,
.user__table--bottom {
}
